*{
    font-family: "Kosugi Maru", serif;
    font-weight: 400;
    font-style: normal;
}
.potta{
    font-family: 'Potta One', serif;
}
span.title{
    font-family: 'Potta One', serif;
    font-size: 3em;
}
body{
    background-image: url('/img/heart-back0109.png') ;
    background-size: contain;
}
div[role="main"]{
    text-align: center;
}
div.buttondiv{
    background-color: rgba(240, 248, 255, 0.594);
    border: 3px dotted rgb(135, 135, 135);
}
div#titlebar{
    border: 1px black solid;
    height: 80px;
    float: left;
    width: 100%;
}
p#title{
    display: inline;
    font-size: 30px;
    line-height: 80px;
    font-family: "Kaisei Decol", serif;
    font-weight: 700;
    font-style: normal;
    padding-left: 20px;
}

a#start{
    /*color: rgb(255, 225, 225);
    text-decoration: none;*/
    font-size: 1.5em;
    margin: auto;
    /*display: block;
    background-color: crimson;*/
    width: 3em;
}